.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px;
}

.product-list::after {
  content: "";
  flex: auto;
}

.product-list a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

@media screen and (max-width: 600px) {
  .product-list {
    justify-content: center;
  }
  .product-list a {
    width: 75%;
  }

  .product-list::after {
    flex: 20%;
  }
}
