.product-box {
  background-color: #adadad;
  text-align: center;
  margin: 10px 0px;
  width: 200px;
}

.product-box img {
  width: 200px;
  height: 200px;
}

.product-box-info {
  background-color: #3d3d3d;
  padding: 5px 0px;
}

.product-box-name {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .product-box {
    width: 100%;
  }
}
